dist
# Exception for packages/.vitepress/dist
!packages/.vitepress/dist
.DS_Store
node_modules
coverage
*.log
.idea
cache
.eslintcache
.vitepress/cache

packages/**/*.js
packages/**/*.[cm]js
packages/**/*.d.ts
packages/**/*.d.[cm]ts
!packages/.vitepress/
